configuration{
  modes: "window,drun,run,ssh,file-browser-extended,filebrowser";
  kb-accept-entry: "Return";
  kb-remove-to-eol: "";
  kb-row-up: "Up,Control+k";
  kb-row-down: "Down,Control+j";
  show-icons: true;
}

@theme "~/.config/rofi/nord.rasi"

element-icon { size: 30ch ; }

window {
  width: 35ch;
  height: 95%;
  location: east;
  x-offset:   -18ch;
}
